@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* share style */
main,
.header{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: "Poppins", sans-serif;
    background: rgb(255, 255, 255);
}
.poppins-thin{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* navbar area start */
.memubar{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
}
.title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
.title-option a{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 24px;
}
/* navbar are end */

/* journey are start */
.Journey-start{
    display: flex;
    padding: 60px 10px;
    gap: 40px;
}
.camera-main{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera-bg{
    position: absolute;
    top: -48px;
    z-index: -1;
}
.Journey-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.Journey-info h2{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 700;
}
.Journey-info p{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.btn{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
}
/* journey area end */

/* shop area start */
.shop-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    padding: 40px 5px;
}
/* shop area end */
.card-area{
    margin: 60px auto;

}
.card-area h2{
    text-align: center;
    margin: 40px auto;

}
.see-more{
    text-align: right;
    color: rgb(251, 130, 0);
    margin-top: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 7px;
}
.card-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
}
.card{
    width: 364px;
    height: 450px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.card img{
    width: 100%;
}
.card h3{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
}
.card h4{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.card p{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}
.card i{
    color: rgb(251, 130, 0);
}
/* card area end  */

/* feature area start */
.feature-area{
    margin: 50px auto;
}

.featured-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.feature-info h2{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
}
.feature-info p{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}
.btn2{
    width: 155px;
    height: 44px;
    background: rgb(224, 44, 109);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
}
/* feature section end */

/* footer section start */

.footer-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 191px;
    background:#0a0826 ;
}
.footer-info{
    text-align: center;
}
.footer-info h2{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
.footer-info p {
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    padding: 5px ;
}
.incons{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 5px;
}
/* footer section end */